body {
    font-family: sans-serif;
    text-align: center;
    background-color: #ffdefa;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFB8E0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #EC7FA9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }